body {
	margin: 0;
	padding: 0;
	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #000000;
	background-color: #ffffff;
}

a {
	text-decoration: none;
}

html { box-sizing: border-box; }
*, *::before, *::after { box-sizing: inherit; }

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0px;
	padding: 0px;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.container {
	width: 1200px;
  	padding: 0 20px;
  	margin: 0 auto;
}

.header .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header {
	padding-top: 48px;
	background-color: #eeeeee;
}

.header .logo {
	width: 160px;
	height: 65px;
}

.header .logo:hover {
	opacity: 0.8;
}

.header .logo:active {
	opacity: 0.3;
}

.navigation {
	display: flex;
	width: 798px;
	justify-content: space-between;
	align-items: center;
}

.navigation-list {
	display: flex;
	align-items: center;
	justify-content: space-between;
	list-style: none;
	padding: 0;
	margin: 0;
}

.site-page,
.cart {
	color: #000000;
	line-height: 30px;
	text-transform: uppercase;
}

.site-page:hover {
	color: #fb565a;
}

.site-page:active {
	color: #000000;
	opacity: 0.3;
}

.cart {
	position: relative;	
	display: block;
	padding-left: 41px;
}

.cart::before {
	content: "";
	display: block;
	position:  absolute;
	background: url('../img/cart-icon.svg') no-repeat center;
	width: 15px;
	height:  15px;
	left: 0;
	top:50%; 
	transform: translateY(-50%);
}

.cart:hover {
	color: #fb565a;
}

.cart:active {
	color: #adaeae;
	opacity: 1;
}
/*
.cart:hover::before,
.cart:active::before {
	opacity: 1;
}*/

.site-wrapper {  
	background-color: #eeeeee;
	margin-bottom: 80px;
}

.slider {
  	position: relative;
  
  	color: #000000;
}

.slider-list {
  	margin: 0;
  	padding: 0;

  	height: 413px;
  
  	list-style: none;
}

.slide {
  	display: flex; 
  	flex-direction: column; 
  	justify-content: center;
  	height: 413px;
}

.slide-2, .slide-3 {
  display: none;
}

.slide-1 {
	background-image: url('../img/slide-picture1.png');
	background-repeat: no-repeat;
    background-position: right center;
    background-size: 698px 413px;
}

.slide-2 {
	background-image: url('../img/slide-picture2.png');
	background-repeat: no-repeat;
    background-position: right center;
    background-size: 663px 430px;
}

.slide-3 {
	background-image: url('../img/slide-picture3.png');
	background-repeat: no-repeat;
    background-position: right center;
    background-size: 759px 411px;
}

.slide-title {
  	width: 700px;
  	margin: 0;
  	margin-bottom: 28px;
  
  	font-size: 55px;
  	line-height: 55px;
  	font-weight: 500;
}

.slide p {
	display: block;
	margin: 0;
 	margin-bottom: 42px;
}

.slide-button {
	display: block;
  	color: #ffffff;
	line-height: 50px;
	background-color: #fb565a;
	text-transform: uppercase;
	width: 240px;
	height: 50px;
	border: 1px solid #fb565a;
	border-radius: 5px;
    text-align: center;
}

.slide-button:hover {
	background-color: #e74246;
}

.slide-button:active {
	color: rgba(255,255,255,0.3);
	background-color: #d7373b;
}

.slider-controls {
  	position: absolute;
  	top: 299px;
  	left: 563px;
  	z-index: 1;
}

.slider-controls button {
  	display: inline-block;
  	width: 18px;
  	height: 18px;
  	margin-right: 17px;

  	background-color: #ffffff;
  	border-radius: 50%;
  	border: none;
  	cursor: pointer;
}

.current-slide {
	position: relative;
}

.current-slide::before {
	content: "";
	position: absolute;	
	top: 5px;
	left: 5px;
	border: 2px solid #c1c1c1;
	border-radius: 50%;
	width: 8px;
	height: 8px;
}

.red-button:hover {
	background-color: #e74246;
}

.red-button:active {
	color: rgba(255,255,255,0.3);
	background-color: #d7373b;
}

.green-button:hover {
	background-color: #00bc6c;
}

.green-button:active {
	color: rgba(255,255,255,0.3);
	background-color: #00aa62; 
}

.yellow-button:hover {
	background-color: #eab534;
}

.yellow-button:active {
	color: rgba(255,255,255,0.3);
	background-color: #e5a722; 
}

.offers {
	margin-bottom: 80px;
}

.offer-main img {
	order: -1;
	margin-bottom: 26px;
}

.offer-main h3{
	font-size: 24px;
	line-height: 30px;
	text-transform: uppercase;
	margin: 0;
	margin-bottom: 26px;
}

.offers ul {
	display: flex;
	list-style: none;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	margin-bottom: 80px;
}

.offer-main {
	display: flex;
	flex-direction: column;
}

.offer-main a {
	display: block;
	color: #ffffff;
	line-height: 50px;
	text-transform: uppercase;
	width: 160px;
 	height: 50px;
 	text-align: center;
 	border-radius: 5px;
}

.offer-1 a {	
 	background-color: #fb565a;
 	border: 1px solid #fb565a; 	
}

.offer-2 a {
 	background-color: #00ca74;
 	border: 1px solid #00ca74;
}

.offer-3 a { 
 	background-color: #efc84a;
 	border: 1px solid #efc84a;
}

.offer-main p {
	width: 244px;
	margin: 0;
	margin-bottom: 35px;
}

.separator {
	width: 1160px;
  	height: 2px;
  	color: #eeeeee;
  	background-color: #eeeeee;
  	border: 0px none;
  	margin: 0;
  	margin-bottom: 40px;
}

.second {
	margin-bottom: 46px;
}

.third {
	margin-bottom: 80px;
}

.about-company {
	display: flex;
	justify-content: space-between;
	margin-bottom: 77px;
}

.service-description h2 {
	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
	margin: 0;
	margin-bottom: 35px;
}

.service-description {
	display: flex;
	width: 654px;
	flex-direction: column;
}

.service-description p {
	margin: 0;
	margin-bottom: 47px;
}

.service-description h3 {
	margin: 0;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 16px;
	margin-bottom: 24px;
}

.service-description ul {
	list-style: none;
	line-height: 24px;
	margin: 0;
	padding: 0;

}

.service-description li{
	position: relative;
	padding-left: 35px;
	margin-bottom: 24px;
}

.service-description li::before {
	content: " ";
	position: absolute;
	display: block;
	top: 12px;
	left: 0;
	width: 25px;
  	height: 2px;
  	background-color: #fb565a;
}

.numbers {
	display: flex;
	flex-direction: column;
	width: 360px;
}

.numbers-description,
.percentage{
	font-weight: 700;
	text-transform: uppercase;
}

.numbers-description {
	position: relative;
	padding-top: 207px;
	margin: 0;
	margin-bottom: 49px;
	text-align: center;
}

.numbers-description::before {
	content: "";
	position: absolute;
	background-image: url('../img/nerds-picture.jpg');
	width: 360px;
	height: 208px;
	top: -40px;
	left: 0px;
}

.percentage-flex {
	display: flex;
	justify-content: space-between;
	list-style: none;
	margin: 0;
	padding: 0;
}

.percentage-flex li {
	width: 110px;
	margin-right: 7px;
}

.small-title {
	margin: 0;
}

.percentage {	
	margin: 0;
	font-size: 45px;
	line-height: 45px;
	margin-bottom: 27px;
}

.percentage sup {
    top: -0.5em;
    font-size: 26px;
}

.partners {
	background-color: #ffffff;
}

.partners ul {
	display: flex;
	height: 120px;
	list-style: none;
	justify-content: flex-start;
	align-items: center;
	padding: 0;
	margin: 0;
	margin-bottom: 44px;
}

.partners a {
	opacity: 0.2;
}

.partners a:hover {
	opacity: 0.9;
}

.partners a:active {
	opacity: 0.1;
}

.partner-icon {
	position: relative;
	width: 25%;
	text-align: center;
}

.partner-icon::before {
	content: "";
	display: block;
	position: absolute;
	left: 100%;
	top: 50%;
	transform: translateY(-50%);
	width: 2px;
  	height: 52px;
  	background-color: #eeeeee;
}

.partner-icon:last-child::before {
	display: none;
}

.map-container {
	position: relative;
	height: 416px;
  	padding: 0px;
  	margin-bottom: 69px;
  	overflow: hidden;
}
.map {
	width: 100%;
}

.marker {
	position: absolute;
	width: 231px;
	height: 190px;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 1;
}

.contacts-container {
	position: absolute;
	padding-top: 54px;
	padding-left: 50px;
    padding-bottom: 47px;
    padding-right: 50px;
	top: 54px;
	left: 50%;
 	width: 319px;
 	height: 308px;
 	z-index: 1;
 	margin-left: -560px;
}

.contacts {
	background-color: #ffffff;
}

.contacts p {
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0;
	margin-bottom: 18px;
}

.contacts .address {
	color: #666666;
	line-height: 16px;
	margin-bottom: 16px;
}

.address {
	color: #666666;
	font-style: normal;
}

.telephone {
	display: block;
	color: #666666;
	line-height: 16px;
	text-transform: none;
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 37px;
}

.contacts-button {
	display: block;
	color: #ffffff;
	width: 219px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	text-transform: uppercase;
 	background-color: #fb565a;
 	border-radius: 5px; 	
 	border: 1px solid #fb565a;
 	cursor: pointer;
}

.contacts-button:hover {
	background-color: #e74246;
}

.contacts-button:active {
	color: rgba(255,255,255,0.3);
	background-color: #d7373b;
}

.social {
	display: flex;
	height: 79px;
}

.footer {
	margin-bottom: 77px;
}

.footer-flex {
	display: flex;
	flex-direction: column;
	margin-left: 139px;
	width: 761px;
	height: 53px;
	margin-top: 5px;
}

.social a {
	display: block;
	width: 79px;
	height: 79px;
	line-height: 79px;
	border-radius: 50%; 
	background-color: #e1e1e1;
	text-align: center;
}

.social a:hover {
	background-color: #e74246;
}

.social a:active {
	background-color: #d7373b;
}

.social a:active::before{
	opacity: 0.3;
}

.vk,
.fb,
.instagram {
	position: relative;
}

.vk::before {
	content: "";
	background: url('../img/vk-icon.svg') no-repeat center;
	top: 32px;
	left: 27px;
	position: absolute;
	color: #ffffff;	
	width: 26px;
	height: 15px;
}

.fb::before {
	content: "";
	background: url('../img/fb-icon.svg') no-repeat center;
	top: 28px;
	left: 34px;
	position: absolute;
	color: #ffffff;	
	width: 12px;
	height: 22px;
}

.instagram::before {
	content: "";
	background: url('../img/insta-icon.svg') no-repeat center;
	top: 29px;
	left: 29px;
	position: absolute;
	color: #ffffff;	
	width: 21px;
	height: 21px;
}

.social ul {
	display: flex;
	width: 260px;
	justify-content: space-between;
	list-style: none;
	margin: 0;
	padding: 0;
}

.footer .cta {
	font-size: 36px;
	line-height: 35px;
	font-weight: bold;
	margin: 0;
	margin-top: 5px;
}

.footer .discount {
	color: #444444;
	line-height: 22px;
}

.popup {
	display: none; 
	background-color: #ffffff;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	position: fixed;
	width: 960px;
  	height: 590px;
  	box-shadow: 0px 20px 40px 0 rgba(0, 1, 1, 0.75);

  	z-index: 2;

  	padding-top: 69px;
  	padding-left: 101px;
  	padding-right: 100px;
  	padding-bottom: 84px;
}

.popup-form form{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.popup-field {
	width: 360px;
}

.popup-field input {
	width: 100%;
}

.textarea {
	width: 100%;
}

.popup-field textarea {
	display: block;
	padding: 14px 15px;
	width: 100%;
}

.popup h2 {
	font-size: 45px;
	font-weight: 500;
}

.popup label {
	display: block;
	font-weight: 700;
	margin-bottom: 12px;
}

.popup input {
	width: 360px;
	height: 50px;
	border: 2px solid #d7dcde;
	padding: 18px 16px;
	margin-bottom: 36px;
}

.popup input:hover {
	border: 2px solid #b4b9bb;
}

.popup input:focus {
	border: 2px solid #000000;
	outline: none;
}

.popup input:invalid {
	border: 2px solid #e74246; /*как тут можно обозначить цвет плейсхолдера при невалидном значении?*/
}

.popup textarea:hover {
	border: 2px solid #b4b9bb;
}

.popup textarea:focus {
	border: 2px solid #000000;
	outline: none;
}

.popup textarea:invalid {
	border: 2px solid #e74246; /*как тут можно обозначить цвет плейсхолдера при невалидном значении?*/
}

.popup textarea {
	width: 760px;
 	height: 118px;
 	border: 2px solid #d7dcde;
}

.popup .button {
	color: #ffffff;
	text-transform: uppercase;
	width: 260px;
 	height: 50px;
	background-color: #fb565a;
	margin-top: 47px;
	border: none;
	border-radius: 5px;
}
.popup-button {
	position: absolute;
	background-color: transparent;
  	border: 0;
  	width: 21px;
  	height: 21px;
  	top: 78px;
  	right: 90px;

  	cursor: pointer;
}

.popup-button::before {
	content: "";
	position: absolute;
	display: block;
	width: 21px;
	height: 21px;
	left: 0;
	top: 0;
	background-image: url('../img/close-cross.svg');
	opacity: 0.3;
}

.popup-button:hover::before {
	opacity: 1;
}

.popup-button:active::before {
	opacity: 0.1;
}

.popup h2 {
	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
	margin: 0;
	margin-bottom: 49px;
}

/*страница каталога*/

.catalog-title {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 245px;
	margin: 0;
	margin-bottom: 63px;
	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
	background-color: #eeeeee;
}
.navigation-list-current {
	position: relative;
}

.navigation-list-current a::before {
  content:"";
  display: block;
  position: absolute;
  top: 32px;
  left: 0;
  width: 76px;
  height: 2px;
  background-color: #fb565a;
}

.navigation-list li {
	margin-right: 46px;
}

.container-flex {
	display: flex;
	justify-content: space-between;
}

.container-flex form {
	width: 261px;
}

.filter-item {
  margin: 0;
  padding: 0;
  
  border: none;
  }

.range-filter {
  width: 260px;
}

.filter-item legend {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 56px;
}

.range-controls {
  position: relative;
  
  height: 41px;
  margin-bottom: 13px;
  padding: 39px 21px;
  
  background-color: #f1f1f1;
  
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  
  width: 20px;
  height: 20px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 19px;
}

.range-controls .toggle-max {
  left: 161px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;
  
  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 80px;
  height: 38px;
  line-height: 38px;
  margin-left: 11px;
  
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;
  
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.price-slider {
	width: 261px;
 	height: 81px;
	background-color: #eeeeee;
}

.button-show {
	width: 260px;
	height: 50px;
	background-color: #eeeeee;
}

.price-slider {
	cursor: pointer;
}

.layout {
	margin: 0;
  	padding: 0;
	border: none;
}

.layout legend {
	font-size: 18px;
	line-height: 18px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 27px;
}

.layout ul {
	padding: 0;
  	margin: 0;
  
  	list-style: none;
  	line-height: 18px;
}

.filter fieldset {
  	padding: 0;
  	margin: 0;
  	margin-bottom: 27px;
  
  	border: none;
}

.filter fieldset:first-child {
  	margin-bottom: 56px;
}

.filter ul {
 	padding: 0;
  	margin: 0;
  
  	list-style: none;
  	line-height: 18px;
}

.filter-option {
  	margin-bottom: 23px;
}

.filter-option label {
  	position: relative;

  	display: block;

  	cursor: pointer;
  	user-select: none;
}

.radio label{
	line-height: 25px;
	padding-left: 35px;
}

.checkbox label {
	line-height: 23px;
	padding-left: 36px;
}

.filter-input-radio + label::before {
  	content: "";

  	position: absolute;
  	left: 0px;
  	top: 0px;

  	width: 25px;
  	height: 25px;
  
  	background-image: url('../img/radio-off.svg');
  	opacity: 0.4;
}

.filter-input:disabled + label {
	color: rgba(40, 49, 54, 0.3);
}

.features legend {
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 27px;
  
  	line-height: 30px;
}

.filter-input-radio:checked + label::before {
  	background-image: url('../img/radio-on.svg');
}

.filter-input-radio:hover + label::before {
	opacity: 1;
}

.filter-input-radio:hover + label::before {
	opacity: 1;
}

.filter-input-checkbox + label::before {
  	content: "";
  	position: absolute;
  	left: 0px;
  	top: 0;

  	width: 27px;
 	height: 23px;

  	background-image: url('../img/checkbox-off.svg');
  	opacity: 0.4;
  	background-repeat: no-repeat;
 	background-position: 0 0;
}

.filter-input-checkbox:checked +label::before{
  background-image: url('../img/checkbox-on.svg');
}

.filter-input-checkbox:hover + label::before {
	opacity: 1;
}

.filter-input-checkbox:active + label::before {
	opacity: 1;
}

.button-show {
	width: 260px;
	height: 50px;
	background-color: #eeeeee;
	border-radius: 5px;
	border: none;
	text-transform: uppercase;
}

.button-show:hover {
	background-color: #dfdfdf;
}

.button-show:active {
	background-color: #d5d5d5;
	color: rgba(0, 0, 0, 0.3);
	box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.gallery-block {
	display: block;
	width: 760px;
	margin-bottom: 60px;
}

.sort {
	display: flex;
	width: 760px;
	margin: 0;
  	padding: 0;
	border: none;
	margin-bottom: 59px;
	text-align: center;
}

.sort-title {
	width: 760px;
	padding: 0;
}

.sort p {
	display: block;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
}

.sort-selectors {
	display: flex;
	flex-grow: 1;
	justify-content: flex-end;
}

.sort-selectors a {
	color: rgba(0,0,0,0.3);
	font-size: 14px;
	line-height: 14px;
	text-transform: uppercase;
	position: relative;
	margin-left: 26px;
}

.sort-selectors a:first-child {
	margin-left: 0;
}

a.down-dir {
	margin: 0;
    margin-left: 48px;
}

a.up-dir {
	margin: 0;
    margin-left: 18px;
}

.sort a:hover {
	color: rgba(0, 0, 0, 0.6);
}

.sort a:active {
	color: #000000;
}

.down-dir,
.up-dir {
	position: relative;
	width: 11px;
}

.down-dir::before {
	content: "";
	background: url('../img/icon-down-dir.svg') no-repeat center;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 11px;
	height: 10px;
	opacity: 0.2;
}

.sort-selectors a.current-selector {
	color: rgba(0,0,0,1);
}

.is-active::before {
	opacity: 1;
}

.up-dir::before {
	content: "";
	background: url('../img/icon-up-dir.svg') no-repeat center;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 11px;
	height: 10px;
	opacity: 0.2;
}

.down-dir:hover::before,
.up-dir:hover::before {
	opacity: 0.3;
}

.down-dir:active::before,
.up-dir:active::before {
	opacity: 1;
}

.gallery-picture {
	display: flex;
	width: 760px;
	justify-content: space-between;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
}

.gallery-focus {
	display: block; 
	margin: 0;	
	padding-top: 35px;
	padding-left: 67px;
	padding-right: 67px;
	padding-bottom: 43px;

	position: absolute;
	bottom: 0px;
	left: 0px;

	width: 100%;
  	min-height: 231px;
 	background-color: #eeeeee;
 	text-align: center;

 	opacity: 0;  	
	transition: 0.2s;
}

.project:hover .gallery-focus{
	display: block;
	opacity: 1;
}

.gallery-picture li {
	position: relative;
	padding-top: 40px;
}

.gallery-picture li::before{
	content: "";
	position: absolute;
	display: block;
	background-image: url('../img/browser.svg');
	width: 360px;
	height: 40px;
	opacity: 0.2;
	top: 0px;
	left: 0px;
}

.gallery-pictures li:hover::before {
	opacity: 1;
}

.gallery-focus a {
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 700;
	line-height: 18px;
	color: #000000;
}

.gallery-focus p {
	font-family: "Roboto-Regular", Arial, sans-serif;;
	font-size: 16px;
	font-weight: 500;
	line-height: 16px;
	color: #666666;
}

a.project-button {
	display: block;
	color: #ffffff;
	font-size: 16px;
	line-height: 50px;
	font-weight: 500;
	width: 200px;
  	height: 50px;
  	background-color: #fb565a;
  	border: 1px solid #fb565a;
  	border-radius: 5px;
}

.gallery-focus a:hover {
	color: #fb565a;
}

.gallery-focus a:active {
	color: rgba(0, 0, 0, 0.3);
}

.project-button:hover {
	background-color: #e74246;
}

.project-button:active {
	background-color: #d7373b;
}

.project {
	margin-bottom: 33px;
}

.project img {
	display: block;
	position: relative;
}


.pagination-list {
  display: flex;
  justify-content: space-between;
  
  padding: 0;
  margin: 0;

  list-style: none;
}

.pagination-item {
  margin-right: 5px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-item a {
  display: block;
  /*padding: 10px 19px;*/
  
  color: #000000;

  background-color: #eeeeee;
  width: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 5px;
}

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: #dfdfdf;
}

.pagination-item a:active {
	background-color: #d5d5d5;
	color: rgba(0, 0, 0, 0.3);
	box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.pagination-item-current a:active{
	background-color: #d5d5d5;
	color: rgba(0, 0, 0, 0.3);
	box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.pagination-item-current a {
  color: #000000;

  background-color: #ffffff;
  border: 3px solid #dfdfdf;
  width: 50px;
  line-height: 44px;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: #000000;

  background-color: #ffffff;
}

.next-page a{
	display: block;
	width:  260px;
	line-height: 50px;
	text-align: center;
	margin-right: 317px;
}