body {
	margin: 0;
	padding: 0;
	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #000000;
	background-color: #ffffff;
}

a {
	text-decoration: none;
}

html { box-sizing: border-box; }
*, *::before, *::after { box-sizing: inherit; }

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0px;
	padding: 0px;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.header {
	background-color: #eeeeee;
}

.header .logo {
	width: 160px;
	height: 65px;
}

.catalog-header {
	height: ;
}

.header .logo:hover {
	opacity: 0.8;
}

.header .logo:active {
	opacity: 0.3;
}

.header {
	display: flex;
	padding-left: 140px;
	padding-top: 49px;
	padding-bottom: 36px;
}

.navigation {
	display: flex;
	width: 798px;
	justify-content: space-between;
}

.navigation-list {
	display: flex;
	flex-wrap: wrap;
	width: 438px;
	align-items: center;
	margin-left: 203px;
	justify-content: space-between;
}

.navigation a {
	color: #000000;
	line-height: 30px;
	text-transform: uppercase;
}

.navigation a:hover {
	color: #fb565a;
}

.navigation a:active {
	opacity: 0.3;
}

.navigation ul {
	list-style: none;
	padding: 0;
}

.cart {
	position: relative;	
	display: block;
	padding-right: 140px;
	padding-left: 41px;
}

.cart::before {
	content: "";
	display: block;
	position:  absolute;
	background: url('../img/cart-icon.svg') no-repeat center;
	width: 15px;
	height:  15px;
	left: 0;
	top: 0;
}
/*пробник для слайдера*/
.site-wrapper {
  	width: 1440px;
  
  	transition: background-image 0.5s ease, background-color 0.5s ease;
}


.site-wrapper::before,
.site-wrapper::after {
  	content: "";

  	visibility: hidden;
}

.site-wrapper::before {
  	background: url('../img/slide-picture2.png');
}

.site-wrapper::after {
  	background: url('../img/slide-picture3.png');
}

.container {
  	width: 1120px;
  	height: 413px;
  	margin: 0;
  	padding: 0;
}

.slider {
  	position: relative;
  
  	padding-top: 65px;
  
  	color: #000000;
}

.slider-list {
  	margin: 0;
  	padding: 0;
  
  	list-style: none;
}

.slide {
  	display: none;
}

.slide-title {
  	width: 700px;
  	margin: 0;
  	margin-left: 140px;
  	margin-bottom: 28px;
  
  	font-size: 55px;
  	line-height: 55px;
  	font-weight: 500;
}

.slide p {
	display: block;
	margin: 0;
 	margin-left: 140px;
 	margin-bottom: 42px;
}

.slide-button {
  	color: #ffffff;
	line-height: 50px;
	background-color: #fb565a;
	width: 240px;
	height: 50px;
	border: 1px solid #fb565a;
	border-radius: 5px; 
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin-left: 140px;
    cursor: pointer;
}

.slide-button:hover {
	background-color: #e74246;
}

.slide-button:active {
	color: rgba(255,255,255,0.3);
	background-color: #d7373b;
}

.slider-controls {
  	position: absolute;
  	bottom: 40px;
  	left: 676px;
  	z-index: 20;
  
  	font-size: 0;
}

.slider-controls label {
  	display: inline-block;
  	width: 18px;
  	height: 18px;
  	margin-right: 17px;

  	/*vertical-align: top;*/

  	background-color: #ffffff;
  	border-radius: 50%;
  	cursor: pointer;
}

#slide-1:checked ~ .site-wrapper {
  	background: url('../img/slide-picture1.png') no-repeat #eeeeee;
  	background-position: right 171px center;
  	background-size: 698px 413px;
  }

#slide-2:checked ~ .site-wrapper {
  	background: url('../img/slide-picture2.png') no-repeat #eeeeee;
  	background-position: right 141px center;
  	background-size: 663px 430px;
}

#slide-3:checked ~ .site-wrapper {
  	background: url('../img/slide-picture3.png') no-repeat #eeeeee;
  	background-position: right 140px center;
  	background-size: 759px 411px;
}

#slide-1:checked ~ .site-wrapper #slide1,
#slide-2:checked ~ .site-wrapper #slide2,
#slide-3:checked ~ .site-wrapper #slide3 {
  	display: block;
}

#slide-1:checked ~ .site-wrapper label[for="slide-1"],
#slide-2:checked ~ .site-wrapper label[for="slide-2"],
#slide-3:checked ~ .site-wrapper label[for="slide-3"] {
  	background-color: #ffffff;
  /*дописать псевдоэлемент*/
}

/*конец пробник для слайдера*/
/* удалить, если заработает слайдер
.advantages {
	background-color: #eeeeee;
	box-sizing: content-box;
}

.slider-flex {
	display: flex;
	flex-direction: row;
}

.slide {
	display: flex;
	flex-direction: column;
	width: 514px;
	min-height: 266px;
	padding-left: 140px;
	top: 0;
}

.slide h2 {
	font-size: 55px;
	line-height: 55px;
	font-weight: 500;	
}

.slide-button {
	color: #ffffff;
	line-height: 50px;
	background-color: #fb565a;
	width: 240px;
	height: 50px;
	border: 1px solid #fb565a;
	border-radius: 5px; 
    display: inline-block;
    text-align: center;
    vertical-align: middle;/*почему-то текст не встает по центру((
}

.slide-button:hover {
	background-color: #e74246;
}

.slide-button:active {
	color: rgba(255,255,255,0.3);
	background-color: #d7373b;
}
*/
.red-button:hover {
	background-color: #e74246;
}

.red-button:active {
	color: rgba(255,255,255,0.3);
	background-color: #d7373b;
}

.green-button:hover {
	background-color: #00bc6c;
}

.green-button:active {
	color: rgba(255,255,255,0.3);
	background-color: #00aa62; 
}

.yellow-button:hover {
	background-color: #eab534;
}

.yellow-button:active {
	color: rgba(255,255,255,0.3);
	background-color: #e5a722; 
}

.offers {
	background-color: #ffffff;
}

.offers img {
	order: -1;
}

.offers h3{
	font-size: 24px;
	line-height: 30px;
	text-transform: uppercase;
	margin: 26px 0px;
}

.offers ul {
	display: flex;
	list-style: none;
	justify-content: space-between;
	padding-left: 140px;
	padding-right: 200px;
	padding-top: 80px;
}

.offer-1,
.offer-2,
.offer-3 {
	display: flex;
	flex-direction: column;
}

.offer-1 a,
.offer-2 a,
.offer-3 a {
	display: block;
	color: #ffffff;
	line-height: 50px;
	text-transform: uppercase;
	width: 160px;
 	height: 50px;
 	text-align: center;
 	border-radius: 5px;
 	margin-bottom: 80px;
}

.offer-1 a {	
 	background-color: #fb565a;
 	border: 1px solid #fb565a; 	
}

.offer-2 a {
 	background-color: #00ca74;
 	border: 1px solid #00ca74;
}

.offer-3 a { 
 	background-color: #efc84a;
 	border: 1px solid #efc84a;
}

.offer-1 p,
.offer-2 p,
.offer-3 p {
	width: 244px;
	margin: 0;
}

.about-company {
	display: flex;
	background-color: #ffffff;
}

.about-company h2 {
	margin: 0;
	font-size: 45px;
	line-height: 45px;
	margin-bottom: 35px;
}

.service-description {
	display: flex;
	flex-direction: column;
	width: 787px;
	padding-left: 140px;
	margin: 0;
	margin-top: 80px;
}

.service-description p {
	margin: 0;
	margin-bottom: 47px;
}

.service-description h3 {
	margin: 0;
}

.service-description ul {
	list-style: none;
}

.service-description li{
	position: relative;
	padding-left: 35px;
}

.service-description li::before {
	content: " ";
	position: absolute;
	display: block;
	left: 0;
	width: 25px;
  	height: 2px;
  	background-color: #fb565a;
}

.numbers {
	display: flex;
	flex-direction: column;
}

.numbers-description,
.percentage{
	font-weight: 700;
	text-transform: uppercase;
}

.numbers-description {
	position: relative;
	padding-top: 289px;
	margin: 0;
	margin-top: 61px;
	text-align: center;
}

.numbers-description::before {
	content: "";
	position: absolute;
	background-image: url('../img/nerds-picture.jpg');
	width: 360px;
	height: 208px;
	top: 0px;
	left: 152px;
}

.percentage-flex {
	display: flex;
	width: 305px;
	justify-content: space-between;
}

.percentage-flex p {
	display: block;
	width: 93px;
	height: 35px;
}

.percentage{	
	margin: 0;
	font-size: 45px;
	line-height: 45px;	
	list-style: none;
}

.numbers ul{
	list-style: none;
}

.partners {
	background-color: #ffffff;
}

.partners ul {
	display: flex;
	list-style: none;
	justify-content: space-between;
	width: 1257px;
	padding-left: 171px;
}

.partners a {
	opacity: 0.2;
}

.partners a:hover {
	opacity: 0.9;
}

.partners a:active {
	opacity: 0.1;
}

.map {
}

.contacts {
	background-color: #ffffff;
}

.contacts p {
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
}

.contacts .address,
.contacts .telephone {
	color: #666666;
	line-height: 18px;
}

.contacts-button {
	color: #ffffff;
	width: 219px;
	height: 50px;
 	background-color: #fb565a;
 	border-radius: 5px; 	
 	border: 1px solid #fb565a;
}

.footer {
	display: flex;
}

.footer-flex {
	display: flex;
	flex-direction: column;
}

.social a {
	display: inline-block;
	width: 79px;
	height: 79px;
	line-height: 79px;
	border-radius: 50%; 
	background-color: #e1e1e1;
	text-align: center;
}

.social a:hover {
	background-color: #e74246;
}

.social a:active {
	background-color: #d7373b;
}

.social a:active::before{
	opacity: 0.3;
}

.vk,
.fb,
.instagram {
	position: relative;
}

.vk::before {
	content: "";
	background: url('../img/vk-icon.svg') no-repeat center;
	top: 32px;
	left: 27px;
	position: absolute;
	color: #ffffff;	
	width: 26px;
	height: 15px;
}

.fb::before {
	content: "";
	background: url('../img/fb-icon.svg') no-repeat center;
	top: 28px;
	left: 34px;
	position: absolute;
	color: #ffffff;	
	width: 12px;
	height: 22px;
}

.instagram::before {
	content: "";
	background: url('../img/insta-icon.svg') no-repeat center;
	top: 29px;
	left: 29px;
	position: absolute;
	color: #ffffff;	
	width: 21px;
	height: 21px;
}

.social ul {
	display: flex;
	width: 260px;
	justify-content: space-between;
	list-style: none;
}

.footer .cta {
	font-size: 36px;
	line-height: 36px;
	font-weight: bold;
}

.footer .discount {
	color: #444444;
	line-height: 22px;
}

.popup {
	display:  none;
	background-color: #ffffff;
}

.popup h2 {
	font-size: 45px;
	font-weight: 500;
}

.popup label {
	font-size: 16px;
	font-weight: 700;

}

.popup input {
	width: 360px;
	height: 50px;
	border: 2px solid #d7dcde;
}

.popup input:hover {
	border: 2px solid #b4b9bb;
}

.popup input:focus {
	border: 2px solid #000000;
}

.popup input:invalid {
	border: 2px solid #e74246; /*как тут можно обозначить цвет плейсхолдера при невалидном значении?*/
}

.popup textarea {
	width: 760px;
 	height: 118px;
 	border: 2px solid #d7dcde;
}

.popup .button {
	color: #ffffff;
	width: 260px;
 	height: 50px;
	background-color: #fb565a;
}

/*страница каталога*/

.catalog-title {
	display: flex;
	margin: 0;
	padding-left: 359px;
	padding-bottom: 116px;
	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
	background-color: #eeeeee;
}

.filter-item {
  margin: 0;
  padding: 0;
  
  border: none;
  }

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;
  
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  
  background-color: #f1f1f1;
  
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  
  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 10px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;
  
  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;
  
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;
  
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}


.price-slider {
	width: 261px;
 	height: 81px;
	background-color: #eeeeee;
}

.button-show {
	width: 260px;
	height: 50px;
	background-color: #eeeeee;
}

.price-slider {
	cursor: pointer;
}

.sort {
	margin: 0;
  	padding: 0;
	border: none;
}

.sort legend {
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
}

.sort a {
	color: rgba(0, 0, 0, 0.3);
	font-size: 14px;
	text-transform: uppercase;
	position: relative;
}

.sort a:hover {
	color: rgba(0, 0, 0, 0.6);
}

.sort a:active {
	color: #000000;
}

.sort a:visited {
	color: #000000;
}

.down-dir::before {
	content: "";
	background: url('../img/icon-down-dir.svg') no-repeat center;
	display: block;
	position: absolute;
	width: 11px;
	height: 10px;
	color: rgba(0, 0, 0, 0.3);
}

.up-dir::before {
	content: "";
	background: url('../img/icon-up-dir.svg') no-repeat center;
	display: block;
	position: absolute;
	width: 11px;
	height: 10px;
	color: rgba(0, 0, 0, 0.3);
}

.down-dir::before:hover,
.up-dir::before:hover {
	color: rgba(0, 0, 0, 0.6);
}

.down-dir::before:active,
.up-dir::before:active {
	color: #000000;
}

.layout {
	margin: 0;
  	padding: 0;
	border: none;
}

.layout legend {
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
}

.layout ul {
	padding: 0;
  	margin: 0;
  
  	list-style: none;
  	line-height: 18px;
}

.filters {
  /*width: 180px;*/
}

.filter fieldset {
  	padding: 0;
  	margin: 0;
  	margin-bottom: 27px;
  
  	border: none;
}

.filter fieldset:first-child {
  	margin-bottom: 56px;
}

.filter fieldset:nth-child(2) {
	margin-bottom: 59px;
}

.filter legend {
  	margin-bottom: 27px;
  
  	font-size: 24px;
  	line-height: 30px;
}

.filter ul {
 	padding: 0;
  	margin: 0;
  
  	list-style: none;
  	line-height: 18px;
}

.filter-option {
  	margin-bottom: 19px;
  	padding-left: 141px;
}

.filter-option label {
  	position: relative;

  	display: block;

  	cursor: pointer;
  	user-select: none;
}

.radio label{
	line-height: 25px;
	padding-left: 35px;
}

.checkbox label {
	line-height: 23px;
	padding-left: 36px;
}

.filter-input-radio:not(checked) + label::before {
  	content: "";

  	position: absolute;
  	left: 0px;
  	top: -1px;

  	width: 25px;
  	height: 25px;
  
  	background-image: url('../img/radio-off.svg');
  	opacity: 0.4;
}

.filter-input:disabled + label {
	color: rgba(40, 49, 54, 0.3);
}

.features legend {
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 27px;
  
  	font-size: 24px;
  	line-height: 30px;
}

.filter-input-radio:checked + label::before {
  	content: "";

  	position: absolute;
  	left: 0px;
  	top: 0px;

  	width: 25px;
 	height: 25px;

  	background-image: url('../img/radio-on.svg');
  	opacity: 0.4;

}

.filter-input-radio:hover + label::before {
	opacity: 1;
}

.filter-input-radio:hover + label::before {
	opacity: 1;
}

.filter-input-checkbox:not(checked) + label::before {
  	content: "";
  	position: absolute;
  	left: 0px;
  	top: 0;

  	width: 27px;
 	height: 23px;

  	background-image: url('../img/checkbox-off.svg');
  	opacity: 0.4;
  	background-repeat: no-repeat;
 	background-position: 0 0;
}

.filter-input-checkbox:checked +label::before{
  content: "";

  position: absolute;
  top: 0px;
  left: 0px;

  width: 27px;
  height: 23px;
  
  background-image: url('../img/checkbox-on.svg');
  opacity: 0.4;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:hover + label::before {
	opacity: 1;
}

.filter-input-checkbox:active + label::before {
	opacity: 1;
}

.button-show {
	width: 260px;
	height: 50px;
	background-color: #eeeeee;
	border-radius: 5px;
	border: none;
}

.button-show:hover {
	background-color: #dfdfdf;
}

.button-show:active {
	background-color: #d5d5d5;
	color: rgba(0, 0, 0, 0.3);
	box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  
  padding: 0;
  margin: 0;

  list-style: none;
}

.pagination-item {
  margin-right: 5px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-item a {
  display: block;
  /*padding: 10px 19px;*/
  
  color: #000000;

  background-color: #eeeeee;
  border-radius: 5px;
  width: 50px;
  text-align: center;
  line-height: 50px;
}

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: #dfdfdf;
}

.pagination-item a:active {
	background-color: #d5d5d5;
	color: rgba(0, 0, 0, 0.3);
	box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.pagination-item-current a:active{
	background-color: #d5d5d5;
	color: rgba(0, 0, 0, 0.3);
	box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.pagination-item-current a {
  color: #000000;

  background-color: #ffffff;
  border: 3px solid #dfdfdf;
  width: 50px;
  line-height: 44px;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: #000000;

  background-color: #ffffff;
}

.next-page a{
	display: block;
	width:  260px;
	line-height: 50px;
	text-align: center;
}

.gallery ul {
	list-style: none;
}

.project {
	position: relative;
}

.gallery-focus {
	display: none;
	
}

.project:hover .gallery-focus{
	display: block;
	position: absolute;
	top: 345px;
	left: 0px;
}

.gallery-picture li {
	position: relative;
	padding-top: 40px;
}

.gallery-picture li::before{
	content: "";
	position: absolute;
	display: block;
	background-image: url('../img/browser.svg');
	width: 360px;
	height: 40px;
	opacity: 0.2;
	top: 0px;
	left: 0px;
}

.gallery-pictures li:hover::before {
	opacity: 1;
}

.gallery-focus {
	width: 360px;
  	height: 231px;
 	background-color: #eeeeee;
}
.gallery-focus a {
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 700;
	line-height: 30px;
	color: #000000;
	text-align: center;
}

.gallery-focus p {
	font-size: 16px;
	font-weight: 500;
	line-height: 18px;
	color: #666666;
	text-align: center;
}

.gallery-focus button {
	color: #ffffff;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 50px;
	text-align: center;
	font-weight: 500;
	width: 200px;
  	height: 50px;
  	background-color: #fb565a;
  	border: 1px solid #fb565a;
  	border-radius: 5px;
}

.gallery-focus a:hover {
	color: #fb565a;
}

.gallery-focus a:active {
	color: rgba(0, 0, 0, 0.3);
}

.gallery-focus button:hover {
	background-color: #e74246;
}

.gallery-focus button:active {
	background-color: #d7373b;
}

.project img {
	position: relative;
}